/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* ----------------------------------------------------- APP */
@font-face {
  font-family: 'iPovalFont'; /* https://fbf8.com/ */
  src: url('https://d29ewpiyynpjsc.cloudfront.net/fonts/Polaris-Book-f1016e63.woff');
}

body {
  font-family: 'iPovalFont', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar { background-color: rgba(248,248,248,0.7); }
.navbar:hover { background-color: rgba(248,248,248,1); }
.navbar + .container { margin-top: 20px; }
.navbar-brand { font-size: 2em; }

.font_handsome {
  color: rgba(73, 108, 26, 0.8) !important;
  font-family: 'Just Me Again Down Here', 'Verdana', serif, cursive;
  text-shadow: 4px 4px 3px #bbb;
}

h1:first-of-type {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
}
  h1:first-of-type + p {
    margin-bottom: 4px;
    padding: 0;
    font-size: 1.8em;
  }

.jumbotron {
  padding: 4px 0 5px;
  background-color: rgba(248, 248, 248, 0.70);
  box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
  text-align: center;
}

.well {
  margin-bottom: 0px;
  border: none;
  background-color: rgba(248, 248, 248, 0.70);
  box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
}

.sidebar-nav li a {
  padding: 5px 15px;
}
.sidebar-nav li.ip-nav-header {
  margin: 5px auto 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 5px 5px 5px #333;
  -webkit-box-shadow: 5px 5px 5px #333;
  -moz-box-shadow: 5px 5px 5px #333;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
}

.aside\:right sub {
  float: right;
}

.light_section {
  padding-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  background-color: #fefbf3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#contact pre {
  border: none;
  background: none;
}

#resumeblock > p {
  text-align: center;
}

.fancy {
  line-height: 0.5;
  text-align: center;
  font-weight: bold;
}
  .fancy span {
    display: inline-block;
    position: relative;
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    top: 3px;
    width: 100%;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }

footer .copy {
  font-weight: bold;
}

/* ----------------------------------------------------- PRINT */
/* a:after{content: " (" attr(href) ") "} */

/* ----------------------------------------------------- CODE PRETTIFY */
.pln{color:#000}
@media screen{.str{color:rgba(73, 108, 26, 1)}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

/* media queries */
@media (max-width: 400px) {
  .navbar + .container { margin-top: 0px; }
  h1:first-of-type { font-size: 24px; }
  h1:first-of-type + p { font-size: 16px; }
  .jumbotron p { margin-bottom: 5px; }
  .well { padding: 8px; }

  #contact .sm-device-center {
    padding-left: 32px;
  }
  #passionblock .sm-device-center {
    padding-left: 42px;
  }
  footer {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
